.DS_store
.Rproj.user
.Rhistory
.RData
.Ruserdata
skg/
.#
README.html
inst/doc
*~
inst/*.pdf
inst/*.jpg
inst/*.png
inst/*.xcf
dev/
shannon_thesis/
doc/
Meta
jss/jss-article-rnw/article.bbl
jss/jss-article-rnw/article.blg
jss/jss-article-rnw/article.log
jss/jss-article-rnw/article.synctex.gz
jss/jss-article-rnw/article.pdf
jss/jss-article-rnw/article.tex
jss/jss-article-rnw/article.auxs
*_cache/
*_files/